<!-- <header>
  <div class="d-flex header-nav justify-content-between align-items-center">
      <h4>Dashboard</h4>
      <div class="right d-flex align-items-center">
        <input type="search" class="form-control" placeholder="Search..." name="search">
        <div class="btn-reminder">
          <a class="dropdown-toggle ml-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i data-feather="bell"></i>
            <span class="badge badge-danger rounded-circle noti-icon-badge">1</span>
          </a>
          <div class="dropdown-menu sc-plan" aria-labelledby="dropdownMenuButton">
            <h5>Scheduled Purchase Plan</h5>
            <a class="dropdown-item d-flex justify-content-between align-items-center" href="#"><span>12/01/2020</span><span>Gold Plan</span><span class="btn btn-sm btn-success">Purchase</span></a>
          </div>
        </div>
        <i class="ml-4 set-icon"  data-feather="settings"></i>
      </div>
  </div>
</header> -->
