// Typography
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.wrapper {
  display: flex;
  background: #f5f5f5;
  height: 100vh;

  //aside
  app-aside {
    background-color: #5a5a46;
    color: #545454;
    flex: 0 0 auto !important;
    max-width: none !important;
    min-width: 10px !important;
    width: 240px !important;
    overflow: hidden;

    .sidebar-menu {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 99;
      height: 100vh;
      width: 240px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);

      .sidebar-header {
        padding: 0 15px;
        display: flex;
        background: #fff;
        height: 60px;
        align-items: center;
      }

      .main-menu {
        height: 100%;
        overflow: hidden;
        padding: 20px 0 0;

        nav {
          ul {
            list-style: none;
            padding: 0;

            li {
              padding: 10px 20px;
              a {
                color: #435966;
                font-size: 15px;
                font-weight: 500;
                text-decoration: none;

                svg {
                  width: 17px;
                  margin-right: 5px;
                  margin-top: -2px;
                }
              }
            }
          }
        }
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: #ebeff2;

    header {
      height: 60px;
      position: fixed;
      right: 0;
      padding: 15px 25px;
      width: calc(100% - 240px);
      z-index: 99;
      top: 0;
      background: #ebeff2;

      .btn-reminder {
        a {
          position: relative;
          svg {
            width: 18px;
          }
          span.badge {
            position: absolute;
            right: -8px;
            top: -3px;
          }
          &:after {
            display: none;
          }
        }
      }

      .sc-plan {
        h5 {
          font-size: 16px;
          padding: 5px 10px;
          border-bottom: 1px solid #eaeaea;
        }
        a {
          padding: 0 10px;
          span {
            font-size: 13px;
            margin: 1px 8px;
          }
        }
      }

      .set-icon {
        width: 25px;
      }

      .header-nav {
        h4 {
          font-size: 18px;
          margin: 0;
        }
        .right {
          .form-control {
            border: none;
            height: 38px;
            padding-left: 20px;
            padding-right: 0;
            color: #323a46;
            background-color: rgba(108, 117, 125, 0.07);
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 14px;
            border-radius: 30px 30px;
          }
        }
      }
    }

    .page-content {
      flex-grow: 1;
      padding: 25px;
      margin-top: 60px;
      background: #ebeff2;

      //Card-box
      .card-box {
        background-color: #fff;
        padding: 1.5rem;
        -webkit-box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
        box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
        margin-bottom: 24px;
        border-radius: 0.25rem;

        .header-title {
          font-size: 1rem;
          margin: 0 0 7px 0;
        }
      }

      .i-rupee{
        font-size: 24px;
        font-weight: 600;
        line-height: 0;
      }

      // Reports
      .r-t-header {
        h3 {
          font-size: 18px;
        }
      }
    }
  }
}
