<header>
  <div class="d-flex header-nav justify-content-between align-items-center">
    <h4>Dashboard</h4>
    <div class="right d-flex align-items-center">
      <input type="search" class="form-control" placeholder="Search..." name="search"/>
      <div class="btn-reminder">
        <a class="dropdown-toggle ml-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i data-feather="bell"></i>
          <span class="badge badge-danger rounded-circle noti-icon-badge">1</span>
        </a>
        <div class="dropdown-menu sc-plan" aria-labelledby="dropdownMenuButton">
          <h5>Scheduled Purchase Plan</h5>
          <a class="dropdown-item d-flex justify-content-between align-items-center">
            <span>12/01/2020</span><span>Gold Plan</span><span class="btn btn-sm btn-success">Purchase</span>
          </a>
        </div>
      </div>
      <i class="ml-4 set-icon" data-feather="settings"></i>
    </div>
  </div>
</header>

<div class="row d-report-list">
  <div class="col-4 list">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="header-title">Total Invested Amount</h4>
        <span><i class="i-rupee">₹</i></span>
      </div>
      <div class="d-flex mt-4">
        <h3>₹ 88432</h3>
      </div>
    </div>
  </div>

  <div class="col-4 list">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="header-title">Number of Investment</h4>
        <span><i data-feather="bar-chart"></i></span>
      </div>
      <div class="d-flex mt-4">
        <h3>04</h3>
      </div>
    </div>
  </div>

  <div class="col-4 list">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="header-title">Rate of Return</h4>
        <span><i data-feather="corner-down-left"></i></span>
      </div>
      <div class="d-flex mt-4">
        <h3>
          - 0.05% <i style="color: #f00;" data-feather="chevrons-down"></i>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="header-title">Amount Invested</h3>
      </div>
      <div class="content">
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="header-title">Current Value</h4>
      </div>
      <div class="content">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="header-title">Loss</h4>
      </div>
      <div class="content">
        <canvas id="loss"></canvas>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card-box">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="header-title">Gain</h4>
      </div>
      <div class="content">
        <canvas id="gain"></canvas>
      </div>
    </div>
  </div>
</div>
